h3 {
    text-decoration: underline;
}

table {
    width: 60%;
    text-align: center;
}

td, th {
    padding: 10px;
}

    th:nth-child(-n+5), td:nth-child(-n+5) {
        border: 1px solid black;
    }

button {
    border: none;
}

img {
    width: 50px;
}
